.top-level {
  width: 100%;
  height: 100%;
  display: flex;
}

.dd {
  /*Blue*/
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*Orange Purple*/
  /*background: #c94b4b;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #4b134f, #c94b4b); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tab {
  color: white !important;
  font-size: 1.5rem;
  height: 50px
}

#demoTabs {
  box-shadow: none;
}

.nav-item {
  text-align: center;
}

.tabs-vertical>.nav .nav-link.active {
  background: none;
}

.tabs-vertical>.nav .nav-link:not(.active):hover {
  background: rgba(255,255,255, 0.2);
}

.preset-btn {
  height:40px;
  width:40px;
  min-width: 40px;
  max-width: 40px;
  padding: 0.3rem 0.1rem 0.1rem;
  font-size: 0.45rem;
  line-height: 0.55rem;

  border-color: #dea623;
  color: #dea623;
}

h3 {
  color: #dea623;
}

.card {
  box-shadow: 0 0.03rem 0 0 #dedede;
}
